{% extends 'base.html' %}
{% block content %}
<h2>Your Eisenhower Matrix</h2>
<div>
    <h3>Urgent & Important</h3>
    <ul>
    {% for task in matrix['urgent_important'] %}
        <li>{{ task }}</li>
    {% endfor %}
    </ul>
</div>
<div>
    <h3>Important but Not Urgent</h3>
    <ul>
    {% for task in matrix['important_not_urgent'] %}
        <li>{{ task }}</li>
    {% endfor %}
    </ul>
</div>
<div>
    <h3>Urgent but Not Important</h3>
    <ul>
    {% for task in matrix['urgent_not_important'] %}
        <li>{{ task }}</li>
    {% endfor %}
    </ul>
</div>
<div>
    <h3>Neither Urgent nor Important</h3>
    <ul>
    {% for task in matrix['not_urgent_not_important'] %}
        <li>{{ task }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}